body {
  background-image: url(http://images2.fanpop.com/image/photos/8700000/Minesweeper-minesweeper-8780126-233-233.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  align-items: center;
  display: flex;
  flex-direction: column;
}
td {
  border-radius: 15%;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: darkgrey;
  border: solid black;
  
}
p {
  font-size: 12px;
}
th {
  border: solid 1px black;
  background-color: darkgrey;
}
tbody {
  margin-top: 1rem;
  border-radius: 3%;
  
}
